:root {
    /* PRIMARY */
    --limeGreen: hsl(163, 72%, 41%);
    --brightRed: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --youtube: hsl(348, 97%, 39%);
    --instagram: hsl(37, 97%, 70%) to hsl(329, 70%, 58%);   

    /* LIGHT */
    --backgroundTop: hsl(225, 100%, 98%);
    --backgroundBody: hsl(0, 0%, 100%);
    --cardBackground: hsl(227, 47%, 96%);
    --cardText: hsl(228, 12%, 44%);
    --cardCountText: hsl(230, 17%, 14%);
}

[data-theme="dark"] {
    --backgroundTop: hsl(232, 19%, 15%);
    --backgroundBody: hsl(230, 17%, 14%);
    --cardBackground: hsl(228, 28%, 20%);
    --cardText: hsl(228, 34%, 66%);
    --cardCountText: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.container {
    width: 90%;
    margin: auto;
}

#header {
    background: var(--backgroundTop);
    padding: 50px 0;
}

#header .container{
    justify-content: space-between;
    height: 30vh;
    display: flex;
    flex-direction: row;
    
}

#header-text h2{
    color: var(--cardCountText)
}

#header-text p {
    color: var(--cardText)
}

#summary {
    margin-top: -150px;
}

#summary .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-card {
    background: var(--cardBackground);
    width: 25%;
    height: 35vh;
    text-align: center;
    padding: 30px 0;
    margin: 0 20px;
    border-radius: 10px;
}

div#facebook.summary-card {
    border-top: 3px solid var(--facebook);
}

div#twitter.summary-card {
    border-top: 3px solid var(--twitter);
}

div#instagram.summary-card {
    border-top: 3px solid linear-gradient(to right,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

div#youtube.summary-card {
    border-top: 3px solid var(--youtube);
}

.summary-card p {
    font-size: 12px;
}

.summary-card .username {
    color: var(--cardText);
    padding: 10px 0;
    font-weight: 800;
}

.summary-card .count {
    color: var(--cardCountText);
    padding: 10px 0;
    font-size: 48px;
}

.summary-card .followers {
    color: var(--cardText);
    letter-spacing: 5px;
    padding: 10px 0;
    text-transform: uppercase;
}

.summary-card .increase {
    color: var(--limeGreen);
    padding: 10px 0;
    font-weight: 800;
}
